* {
  font-family: 'Apple SD Gothic Neo', Helvetica, arial, '나눔고딕', 'Nanum Gothic', '돋움', Dotum, Tahoma, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}
.modal-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
}
.modal-spinner .ridi-spinner {
  top: 50%;
  margin-top: -14px;
}
.structure_row {
  display: none;
}
.top_navigation .searching_trigger {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 999;
  border-radius: 30px;
  border: none;
  -webkit-appearnce: none;
  background: #1F8EE6;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  transition: background .2s;
}
.top_navigation .searching_trigger .icon-search,
.top_navigation .searching_trigger .icon-close_3 {
  font-size: 35px;
  color: white;
}
.top_navigation .searching_trigger .icon-close_3 {
  display: none;
}
.top_navigation .searching_trigger.on {
  background: none;
  box-shadow: none;
}
.top_navigation .searching_trigger.on .icon-search {
  display: none;
}
.top_navigation .searching_trigger.on .icon-close_3 {
  display: block;
}
.top_navigation .searching_trigger:focus,
.top_navigation .searching_trigger:active {
  border: none;
  outline: none;
}
