.searching_area {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  transition: background .2s;
  background: rgba(0, 0, 0, 0.9);
  transition: right .5s;
}
.searching_area .ridi_search_form {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  transition: all .1s;
  background: transparent;
}
.searching_area .ridi_search_form .search_input_wrap {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
}
.searching_area .ridi_search_form .search_input_wrap .ridi_search_field {
  width: 100%;
  padding: 25px 0;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all .15s;
}
.searching_area .ridi_search_form .search_input_wrap .ridi_search_field:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.searching_area .search_scrolling_area {
  height: 75%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.searching_area .search_scrolling_area .ridi_songs_table {
  max-width: 740px;
  padding: 40px 0 0;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: none;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody {
  width: 100%;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr {
  transition: all .1s;
  cursor: pointer;
  opacity: 0.8;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td {
  padding: 5px 10px;
  color: white;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td img {
  width: 50px;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .song_name,
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .album_name {
  text-align: left;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .song_name {
  font-weight: 700;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .album_name {
  font-weight: 300;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .ridi_add_button {
  width: 30px;
  height: 30px;
  margin-top: -6px;
  transition: background .2s;
  background: transparent;
  border: 2px solid #fff;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 15px;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .ridi_add_button .icon-plus_1 {
  font-size: 20px;
  color: white;
  transition: color .2s;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .ridi_add_button:hover {
  background: white;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr td .ridi_add_button:hover .icon-plus_1 {
  color: black;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr:hover .ridi_add_button {
  background: white;
}
.searching_area .search_scrolling_area .ridi_songs_table .ridi_songs_tbody tr:hover .ridi_add_button .icon-plus_1 {
  color: black;
}
.searching_area.on {
  right: 0;
}
.searching_area.on .ridi_songs_table {
  display: block;
}
