.ridi-search-form {
  width: 344px;
  margin-left: auto;
  margin-right: auto;
}

.ridi-songs-table {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.ridi-add-button {
  margin-top: -6px;
}

.modal-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.ridi-spinner {
  top: 50%;
  margin-top: -14px;
}

.structure_row{
  display: none;
}