@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
*{ margin: 0; padding: 0; font-family: 'KoPub Batang', serif; }
* h1, * h2, * h3, * h4, * h5, * h6, * p, * span, * b, * td, * th{ font-family: 'KoPub Batang', serif; margin: 0; padding: 0; }

.modal-spinner{
  position: absolute; width: 100%; height: 100%;
  text-align: center; background-color: rgba(0, 0, 0, 0.2);
  z-index: 999; display: none;
}

.modal-spinner .ridi-spinner{ top: 50%; margin-top: -14px; }

.structure_row{ display: none; }