/* 검색 영역 */
.searching_area {
  position: fixed; top: 0; left: 0;
  transition: background .2s;
}
.searching_area .ridi_search_form {
  display: table; table-layout: fixed; text-align: center;
  width: 100%; margin: 0 auto; box-sizing: border-box;
  background: rgba(255, 255, 255, .9);
}
.searching_area .ridi_search_form .search_input_wrap,
.searching_area .ridi_search_form .search_button_wrap{
  display: table-cell; 
}
.searching_area .ridi_search_form .search_input_wrap{
  width: auto; padding: 10px 10px 10px 0;
}
.searching_area .ridi_search_form .search_input_wrap .ridi_search_field{
  width: 50%; padding: 10px; box-sizing: border-box;
  border: none; font-size: 30px; color: #333; 
  background: none; font-weight: lighter;
}
.searching_area .ridi_search_form .search_input_wrap .ridi_search_field:focus{
  border: none; box-shadow: none; outline: none;
}

/* 검색결과 창 */
.searching_area .ridi_songs_table {
  display: none; height: 100%; width: 50%;
  margin: 0 auto; overflow-y: scroll;
  border-collapse: collapse;
}
.searching_area .ridi_songs_table .ridi_song_tbody{
  width: 100%;
}
.searching_area .ridi_songs_table tr{
  transition: background .2s;
}
.searching_area .ridi_songs_table tr:hover{
  background: rgba(0,0,0,.2);
}
.searching_area .ridi_songs_table th,
.searching_area .ridi_songs_table td{
  color: white;
}
.searching_area .ridi_songs_table td{
  padding: 5px 0;
}
.searching_area .ridi_songs_table td .album_name,
.searching_area .ridi_songs_table td .song_name{
  text-align: left;
}
.searching_area .ridi_songs_table
.searching_area .ridi_songs_table .ridi_add_button {
  margin-top: -6px; cursor: pointer;
}

/* 검색결과 창 활성화 상태 */
.searching_area.on{
  width: 100%; height: 100%;
  background: rgba(0,0,0,.9);
}
.searching_area.on .ridi_search_form {
  background: transparent;
}
.searching_area.on .ridi_search_form .search_input_wrap .ridi_search_field{
  color: white;
}
.searching_area.on .ridi_songs_table{
  display: block;
}