@media(max-width: 900px){
  header {
    position: static;
  }
  .top_navigation{
    position: fixed; height: 0; width: 100%; top: 0; left: 0;
    text-align: right; z-index: 999;
    .searching_trigger{
      position: static; width: 60px; height: 60px; cursor: pointer;
      box-shadow: none; border-radius: 0;
      .icon-search, .icon-close_3{
        font-size: 20px;
      }
      .icon-close_3{
        display: none;
      }
      &.on{
        .icon-search{ display: none; }
        .icon-close_3{ display: block; } 
      }
    }//.searching_trigger
  }//.top_navigation
  .searching_area{
    .ridi_search_form{
      .search_input_wrap{
        .ridi_search_field{
          font-size: 20px;
        }//.ridi_search_field
      }//.search_input_wrap
    }//.ridi_search_form
    .ridi_songs_table{
      padding: 0;
      tr{
        td{
          padding: 10px; font-size: 12px;
        }
      }
    }//.ridi_songs_table
  }//.searching_area
  .result_area{
    padding: 0;
    .added_list{
      td{
        font-size: 12px;
        &.cover_column{
          padding: 5px 0; border-bottom: 0; box-sizing: border-box;
          .album_cover{ height: 60px; }
          &.image_null{
            background: none;
          }
        }//.cover_column
        &.title_column{
          padding-left: 0;
          .song_title{ font-size: 14px; }
          .album_title{ font-size: 12px; }
        }//.title_column
        .artist{ font-size: 12px; }
      }//td
    }//.added_list
  }//.result_area
}