.result_area {
  max-width: 740px;
  margin: 140px auto 0;
  .added_list {
    width: 100%;
    border-collapse: collapse;
    th {
      height: 50px;
      border-bottom: 2px solid #e9e9e9;
    }
    td {
      text-align: center;
      padding: 10px 5px;
      border-bottom: 1px solid #e9e9e9;
      .artist {
        font-size: 14px;
      }
    }
    .title_column {
      text-align: left;
      .icon-music_1 {
        padding-right: 5px;
        font-size: 13px;
        vertical-align: -9%;
      }
      .song_title {
        font-size: 16px;
        font-weight: 700;
      }
      .album_title {
        font-size: 13px;
        font-weight: 300;
        padding-top: 5px;
      }
    }
  }
}
